.dialogItem {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 15px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}
