.userBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: normal;
}

.userAvatar {
    width: 150px;
    height: 150px;
    background-size: cover;
}

.userContainer {
    margin-right: 10px;
}

.getUserButton {
    width: 100px;
    height: 20px;
}

.selectedPage{
    color: #99D3FF;
    font-weight: bold;
}

.pageNumberSpan{
    max-width: 400px;
    max-height: 18px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}

.usersContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
}