.nav{
    grid-area: navbar;
    background-color: #2524B5;
    text-decoration: none;
    color: #fff;
}


.navItem  {
    padding: 5px;
    margin: 20px 0 0 20px;
}

.active{
    color: #b4b524;
    text-decoration: none;
}