.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  display: grid;


  grid-template-areas:
          "header header"
          "n content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header{
  grid-area: header;
  background-color: #99D3FF;

}
.header img {
  width: 50px;
}

.nav{
  grid-area: n;
  background-color: #2524B5;
}

.content{
  grid-area: content;
  background-color: #FF8978;

}

.avatar{
  width: 70px;
  height: 90px;
}